<!-- TITLE -->
<p>
  <label for="title"> Title </label><br>
  <input type="text" name="title" value="{{post.title}}" />
</p>

<!-- BUTTONS -->
<p>
  <button type="submit"> Save Review </button>
  <button onclick="location.href = '/'; return false;"> Cancel </button>
</p>
