<!-- main.handlebars -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <Title> The Front Page of the Internet </Title>
  <link rel="stylesheet" href="/style.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script rel="script" src="/js/posts.js"></script>
  <style>

    .pageTitle {
      padding-left: 20px;
      padding-right: 20px;
      margin-bottom: 40px;
    }
    .pageHeader {
      background-color: #000;
      display: flex;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 10px;
    }
    .loginButtons > button, .subreddits > button, .homeButton > button {
      border-style: none;
      border-radius: 4px;
      background-color: inherit;
      color: #FFF;
    }
    .posts {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
    .postContainer {
      display: flex;
      flex-direction: row-reverse;
      padding: 20px;
      justify-content: center;
      align-items: center;
      margin: 10px;
    }
    .postTitle {
      font-size: 20px;
    }
    .postContent {
      height: 200px;
      width: 400px;
      border-bottom-style: solid;
    }
    .voteButtons {
      height: 200px;
    }
    .vote-down > button, .vote-up > button {
      background: none !important;
      border: none;
      margin-right: 7px;
    }
    hr {
      border: none;
      border-radius: 2px;
      height: 2px;
      background-color: #BDBDBD;
    }
    .showPostTitle {
      text-align: center;
    }
    .showPostContent {
      margin: auto;
      width: 600px;
      text-align: justify;
    }
    .showPostComments {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }

  </style>
</head>
<body>
  {{{body}}}
</body>

</html>
