<!-- main.handlebars -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <Title> The Front Page of the Internet </Title>
  <style>
  .vote-up {
    color: green;
  }
  .vote-down {
    color: red;
  }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script rel="script" src="/js/posts.js"></script>
</head>
<body>
  {{{body}}}
</body>

</html>
