<form class="newPostForm" method="POST" action="/posts">
  <div class="input-field">
    <input type="text" name="title" id="post-title" placeholder="Title">
  </div>
  <div class="input-field">
    <select name="subreddit">
      <option value="politics">Politics</option>
      <option value="gaming">Gaming</option>
      <option value="food">Food</option>
      <option value="tech">Technology</option>
      <option value="orange-juice">Orange Juice</option>
    </select>
  </div>
  <div class="input-field">
    <textarea name="summary" id="post-summary" placeholder="Summary"></textarea>
  </div>
  <input type="hidden" name="userId" id="post-user-id" value={{currentUserId}} />
  <div>
    <button class="btn-flat" type="submit">Post</button>
  </div>
</form>
