<!-- posts-index.handlebars -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" onclick="location.href = '/posts/new'; return false;" class="btn btn-default navbar-btn">New post</button>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/login">Login</a></li>
      <li><a href="/sign-up">Sign Up</a></li>
    </ul>
  </div>
</nav>

{{#each posts}}
<li class="list-group-item">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <a href="posts/{{this.id}}" class="lead">{{this.title}}</a>
      <p>{{this.summary}}</p>
      <div class="text-right">{{post.subreddit}}</div>
    </div>
  </div>
</li>
{{/each}}
